* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e2f, #3a3a5a);
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  width: 95%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Heading */
.container .heading {
  font-size: 2.5rem;
  color: rgb(205, 205, 205);
}

/* Grid */
.container .boxes {
  width: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Box */
.box {
  width: 100%;
  aspect-ratio: 1 / 1; /* kare yapar */

  border-radius: 10px;
  background: #2c2c3e;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 8vw; /* responsive font */
  max-font-size: 60px;

  transition: all 0.3s;
  color: white;
}

.box:hover {
  background: #44446a;
}

/* Turn box */
.container .turn-box {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.5rem;
}

/* Button */
.container button {
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.container button:hover {
  opacity: 0.7;
}

/* X & O */
.X {
  color: #22d3ee;
  text-shadow: 0 0 10px #22d3ee, 0 0 25px #22d3ee;
}

.O {
  color: #facc15;
  text-shadow: 0 0 10px #facc15, 0 0 20px #facc15;
}

/* 📱 Mobile */
@media (max-width: 500px) {
  .container .heading {
    font-size: 2rem;
  }

  .box {
    font-size: 12vw;
  }

  .container button {
    width: 100%;
  }
}
